<%= page_header 'Login' %>
<p>Welcome to Capitan! To continue, please log in via:</p>
<div class="table">
  <div class="table-cell align-middle">
    <%= link_to "/auth/github", class: "btn btn-large" do %>
      <%= image_tag('github_64.png') %><br/><span>github</span>
    <% end %>
  </div>
</div>