<div id="jobs" class="span11" style="margin-left:0px;">
  <% if params[:html] %>
    <div class="span11" style="margin-left:0px;">
      <%= render 'jobs/jobs' %>
    </div>
  <% else %>
    <% content_for :javascript do %>
      <script type="text/javascript">
        window.router = new Capitan.Routers.JobsRouter({jobs: <%= raw @jobs.to_json %>});
        Backbone.history.start();
      </script>
    <% end %>
  <% end %>
</div>
