<div id="jobs" class="span11" style="margin-left:0px;">
  <% if params[:html] %>
    <%= page_header("Jobs") %>
    <ul class="unstyled">
      <% @jobs.each do |job| %>
        <li>
          <h2><%= link_to job.display_name, job %></h2>
          <%= render job %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <% content_for :javascript do %>
      <script type="text/javascript">
        window.router = new Capitan.Routers.JobsRouter({jobs: <%= raw @jobs.to_json %>});
        Backbone.history.start();
      </script>
    <% end %>
  <% end %>
</div>
