<h1>Edit job</h1>

<form id="edit-job" name="job">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="enabled"> enabled:</label>
    <input type="text" name="enabled" id="enabled" value="<%= enabled %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Job" />
  </div>

</form>

<a href="#/index">Back</a>