<div class="right">
  <span><%= today %></span><br/>
  <span>Last refresh: <%= time %></span><br/>
  <a href="#" class="refresh">Refresh</a>
</div>
<header class='content-header'>
  <h1>Jobs</h1>
<header>
<ul class="unstyled">
</ul>
<div class="right">
  <span><%= today %></span><br/>
  <span>Last refresh: <%= time %></span><br/>
  <a href="#" class="refresh">Refresh</a>
</div>