<header class='content-header'>
  <div class="right">
    <a href="/jobs">jobs</a> &middot; <a href="/stacks/new">new stack</a>
  </div>
  <h1>Stacks</h1>
</header>

<div class="row">
<ul class="unstyled">
</ul>
</div>
<div class="right">
  <span><%= today %></span><br/>
  <span>Last refresh: <%= time %></span><br/>
  <a href="#" class="refresh right">Refresh</a>
</div>