<h2><a href="#stacks/<%= id %>"><%= name %></a></h2>
<div class='job_statuses'>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <td class="status <%= display_result %>"><strong>Status</strong>: <%= result_description %></td>
      </tr>
    </tbody>
  </table>
</div>